@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  overflow: hidden; /* Cambiado a "hidden" para evitar barras de desplazamiento */
  margin: 0; /* Añadido para quitar el margen predeterminado del cuerpo */
  font-family: 'Inter', sans-serif; /* Añadido un ejemplo de fuente */
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
}

#canvas {
  position: fixed; /* Cambiado a "fixed" para cubrir la pantalla correctamente */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Cambiado a 0.2 para representar el 20% de opacidad */
  z-index: -1;
}

body::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed; /* Cambiado a "fixed" para cubrir la pantalla correctamente */
  top: 0;
  left: 0;
  background-image: radial-gradient(rgba(0, 119, 255, 0.76) 10%, rgba(14, 63, 224, 0.7) 100%);
   /* Cambiado a -2 para estar detrás del #canvas */
   z-index: -2;
}
